
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: black;
  margin: 0;
}

a {
  border: 0;
  outline;
  color: black
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  background-color: lightgrey;
  width: 100%;
  margin: auto;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav {
    width: 100%;
    max-width: 500px;
    margin: auto;  
}

nav .toggle {
  display: none;
  background-color: black;
  color: white;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav .nav:after {
  content: "";
  display: table;
  clear: both;
}

nav .nav > li {
  float: left;
  position: relative;
  width: 30%;
}

nav .nav > li a {
  display: block;
  line-height: 80px;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

nav .nav > li:hover {
  background-color: #028FCC;
  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav .nav > li a:hover {
  color: white;
}

nav .nav > li ul > li {
  position: relative;
}

.sidebar {
    background: orange;
    width: 30%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    float: left;
}

.content {
    background: purple;
    width: 70%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    float: left;
}

footer {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 15px 0;
    margin: auto;
}
.footer-content p {
    text-align: center;
    margin: auto;
    padding: 0;
}

@media only screen and (max-width: 767px) {
  .nav {
    max-width: 100%;
    }
  nav .toggle {
    display: block;
    line-height: 50px;
    padding: 0 20px;
  }
  nav .nav > li {
    float: none;
    position: static;
    width: 100%;
  }
  nav .nav > li a {
    line-height: 50px;
  }
}
